<div>
  <div>
    <table class="table text-center">
      <tr>
        <th colspan="2">Rarity</th>
      </tr>
      <tr>
        <td colspan="2">1</td>
      </tr>
      <tr>
        <th colspan="2">Obtained from</th>
      </tr>
      <tr>
        <th>Recipe</th>
        <td>Shop</td>
      </tr>
      <tr>
        <th>Food</th>
        <td>Restaurant</td>
      </tr>
      <tr>
        <th colspan="2">Cooker</th>
      </tr>
      <tr>
        <td colspan="2">Paimon</td>
      </tr>
    </table>
  </div>

  

  <ng-template #noRecipe>
    <table>
      <tr>
        <td>
        <img src='{{"assets/images/" + f.id + ".png"}}'>
        </td>
      </tr>
    </table>
  </ng-template>
</div>
<span></span>
