<div class="row">
  <img class="col img-block" src='{{"assets/images/" + ingredient.id + ".png"}}'>
  <table class="table col-6">
    <tr>
      <th>Name</th>
      <td>
        {{ingredient.name}}
      </td>
    </tr>
    <tr>
      <th>Rarity</th>
      <td>{{ingredient.rarity}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        {{ingredient.description}}
      </td>
    </tr>
    <tr>
      <th>Used in</th>
      <td>
        <div *ngFor="let usage of ingredient.craftUsage">
          <span>{{usage}}</span><br />
        </div>
      </td>
    </tr>
  </table>
</div>