<div *ngFor="let ingredient of ingredients">
    <table *ngIf="ingredient.id==id">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Star</th>
        </tr>
        <tr>
          <td>
              <img src='{{"assets/images/" + ingredient.id + ".png"}}'>
          </td>
          <td>
            <a [routerLink]="['/ingrediant', ingredient.id]">
              <span>
                {{ingredient.name}}
              </span>
            </a>
          </td>
          <td>{{ingredient.star}}</td>
        </tr>
        <tr>
          <th>Used in</th>
          <td>
            <div *ngFor="let usage of ingredient.craftUsage">
              <span>{{usage}}</span><br/>
            </div>
            
          </td>
        </tr>
      </table>
</div>
