<h2>Cooking Ingrediants</h2>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Star</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let ingrediant of ingrediants">
    <td>
      <img src='{{"assets/images/" + ingrediant.name + ".png"}}'>
    </td>
    <td>
      <a [routerLink]="['/ingrediant', ingrediant.name]">
        <span>
          {{ingrediant.name}}
        </span>
      </a>
    </td>
    <td>{{ingrediant.star}}</td>
    <td>{{ingrediant.description}}</td>
    <!-- <td *ngFor="let usage of ingrediant.craftUsage">{{usage}}</td> -->
  </tr>
</table>