<div class="container" *ngFor="let f of food">
    <div *ngIf="f.id==id">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="normal">Normal</mat-button-toggle>
            <mat-button-toggle value="delicious">Delicious</mat-button-toggle>
            <mat-button-toggle value="strange">Strange</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="infoGridContainer" >
            <h2 style="grid-column: 1 / 3;">{{f.name}}</h2>
            <div>
                <img src='{{"assets/images/" + f.id + ".png"}}'>
            </div>

            <div class="wrapContent">
                <div>
                <nav class="subNav" *ngIf="f.hasRecipe==true">
                    <a routerLink="./detail" routerLinkActive="active">Details</a>
                    <a routerLink="./reallife-recipe" routerLinkActive="active">Real-life Recipe</a>
                </nav>
                    <router-outlet></router-outlet>
                </div> 
            </div>
            
        </div>
    </div>

</div>
