<div>
    <h2 class="row">{{f.name}}</h2>

    <div class="row mb-auto" *ngIf="f.hasRecipe==true;">
        <div class="col-6">
            <tab-group>
                <tab [tabTitle]="'Normal'">
                    <table id="normal" class="table text-center">
                        <tr>
                            <td>
                                <img src='{{"assets/images/" + f.id + "-Normal.png"}}'>
                            </td>
                        </tr>
                        <tr>
                            <th>Effect</th>
                        </tr>
                        <tr>
                            <td>Restore 1000HP</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>hmm yummy</td>
                        </tr>
                    </table>
                </tab>
                <tab [tabTitle]="'Delicious'">
                    <table class="table text-center">
                        <tr>
                            <td>
                                <img src='{{"assets/images/" + f.id + "-Delicious.png"}}'>
                            </td>
                        </tr>
                        <tr>
                            <th>Effect</th>
                        </tr>
                        <tr>
                            <td>Restore 1200HP</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>hmm</td>
                        </tr>
                    </table>
                </tab>
                <tab [tabTitle]="'Suspicious'">
                    <table class="table text-center">
                        <tr>
                            <td>
                                <img src='{{"assets/images/" + f.id + "-Suspicious.png"}}'>
                            </td>
                        </tr>
                        <tr>
                            <th>Effect</th>
                        </tr>
                        <tr>
                            <td>Restore 800HP</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>emmmm</td>
                        </tr>
                    </table>
                </tab>
            </tab-group>
        </div>

        <div class="col-6">
            <nav>
                <div class="nav nav-tabs">
                    <a class="nav-link active" routerLink="./detail" routerLinkActive="active">Details</a>
                    <a class="nav-link" routerLink="./reallife-recipe" routerLinkActive="active">Real-life Recipe</a>
                </div>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>