<div class="infoGridContainer">
    <img src='assets/images/paimon-eat-slime.jpg'>
    <div>
        <h2>The site is still under construction.</h2>
        <h3 style="text-align: center;">But you can click on the option in nav bar on top to see what's in there.</h3>
        <h3>To-do list: </h3>
        <ul>
            <li>organize the layout of the detail page for food the ingredients</li>
            <li>responsive UI</li>
            <li>i18n</li>
            <li>finish the construction of local json files used as database</li>
            <li>making api for the data (maybe)</li>
            <li>and more...</li>
        </ul>
        <h4>Source code of the site is <a href="https://github.com/teyvatfoodguide/teyvat-food-guide" target="_blank">here</a></h4>
    </div>
</div>
